h1 {
  color: black;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.lastupdate {
  margin-top: 5px;
  color: gray;
}

*, :after, :before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

.App {
  margin: 0;
  background-image: url(/background_.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
}

.flex_col {
  flex-direction: column;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.h_screen {
  height: 100vh;
}

.container {
  display: block;
  overflow: hidden;
  height: 100%;
}

.box {
  position: relative;
  width: 70vw;
  height: 80vh;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
}

.box_header {
  width: 100%;
  background-color: #39bcf7;
  color: white;
}

.title {
  padding: 15px;
  font-size: 1.7em;
  font-family: Main;
}

.choose_box {
  width: 60px;
  height: 60px;
}

.choose_box:hover {
  background-color: #5d6e86;
  cursor: pointer;
}

.choose_text {
  font-size: 1.5rem;
  font-family: Main;
  color: white;
}
.side_bar {
  position: absolute;
  width: 60px;
  height: 100%;
  background-color: #495b6e;
}

.main {
  position: absolute;
  background-color: #d8e5ed;
  width: 100%;
  height: 100%;
  left: 60px;
}

.content {
  padding: 10px;
}

.updatebox {
  position: absolute;
  width: 92%;
  height: 53%;
  border: 2px solid rgb(162, 162, 162);
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none;
}

.updatein {
  border-bottom: 1px solid rgb(162, 162, 162);
  padding: 10px
}
.updatebox::-webkit-scrollbar {
  display: none;
}

.delete:hover {
  color : rgb(221, 221, 221);
  cursor: pointer;
}